header, footer, 
article, section,
nav, figure, div, 
table{
    display: block;
}
body{
  font-size: 18px;
}

p{
  text-align: inherit;
}
article.line{
    background-color: crimson;
    border-bottom-color: cadetblue;
    margin: 1.3em 0;
}

footer.line{
    margin: 2em 0;
}
p {
  border: 5px solid crimson;
  padding: 20px;
  width: 275px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-webkit: border radius 1;
  -moz-webkit: border radius 1;
  -ms-webkit: border radius 1;
  -o-webkit: border radius 1;
  webkit: border radius 10px
}

 style{
  background-image: url("./assets/images/code.jpg");
  transform: translate3d(-3.64568px, -6.10305px, 0px);
}



    .hero-full-container .hero-full-wrapper .text-content {
      vertical-align: middle;
      display: table-cell;
  }
  .background-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}



*, ::after, ::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


nav ul  li{
display: inline;
font-family: 'Times New Roman', Times, serif;
}


nav ul li a
nav ul li a :visited{

  color: lightgray;
  display: block;
  float: left;

  font-weight: bold;
  margin: 5px 2px;
  padding: 7px 10px 4px;
  text-shadow:  0 1px 1px white;
  text-transform: uppercase;  
}

h1, h2, h3, h4, h5 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 6px;
	margin-bottom: 15px;
	display: inline-block;
}
    nav ul li a:hover{
        text-decoration:none;
        background-color:#f0f0f0;
    } 
   


nav, article, nav ul li a, figure{
    border-radius:  10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}
table {
    border: 3px sloid black;
    flex-direction: column;
   }

   @media (max-width: 600px) {
    body {
      background-color: lightblue;
    }
}
@media screen and (min-width: 786px) {
    body {
      background-color: lightgreen;
    }
  }
  
  @media screen and (min-width: 1000px) {
    body {
      background-color: lavender;
    }
  }

